html{
    font-family: 'Courier Prime', monospace;
    width: 100%;
    height: 100%;
    margin:0;  
}
body{
    background-color: #111111;
    color: #fefff2;
    height:100%;
    margin: 0 !important;
    padding: 0 !important;
    border:0;
}
#topbar{
    padding: 0 !important;
    width: 100%;
    height:50px;
    border-bottom: 1px dotted #9b9b9b;
}
#logo{
    width:70vw;
    height:50px;
    margin:0;
    float:left;
}

nav{
    width:30vw;
    height: 50px;
    float:right
}
#topbar p{
    margin:0;
    font-weight: 400;
    font-size:18px;
    line-height:50px;
    vertical-align: middle;
    padding-left: 10px;;
}
.menu_button{
    width: 15vw;
    height: 50px;
    text-align: center;
    float:left;
}
.menu_button a{
    margin:0;
    font-weight: 400;
    font-size:16px;
    line-height:50px;
    text-align: center;
    vertical-align: middle;
}

.menu_button a:link{
    text-decoration: none;
    color:#fefff2
}
.menu_button a:visited{
    text-decoration: none;
    color:#fefff2
}
.menu_button a:hover{
    color:#9b9b9b
}
.slideshow-container {
   width: 100%;
   height:100vw !important;
    position: relative;
    margin: auto;
  }
  .mySlides {
    display: none;
  }
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
