html{
    font-family: 'Courier Prime', monospace;
    width: 100%;
    height: 100%;
    margin:0;  
}
body{
    background-color: #111111;
    color: #fefff2;
    height:100%;
    margin: 0 !important;
    padding: 0 !important;
    border:0;
}
#topbar{
    padding: 0 !important;
    width: 100%;
    height:5vh;
    border-bottom: 1px dotted #9b9b9b;
    background-color: #111111;
    position: fixed;
    z-index: 999;
}
#logo{
    width:70vw;
    height:5vh;
    margin:0;
    float:left;
}
#logo img{
    width: 35px;
    height: 35px;
    padding-left: 10px;
    line-height:5vh;
    vertical-align: middle;
   
}
#logo img, p{
    float:left;
}
#topbar p{
    margin:0;
    font-weight: 400;
    font-size:18px;
    line-height:5vh;
    vertical-align: middle;
    padding-left: 5px;;
}
.menu_button{
    width: 15vw;
    height: 5vw;
    text-align: center;
    float:left;
}
.menu_button a{
    margin:0;
    font-weight: 400;
    font-size:16px;
    line-height:5vh;
    text-align: center;
    vertical-align: middle;
}

.menu_button a:link{
    text-decoration: none;
    color:#fefff2
}
.menu_button a:visited{
    text-decoration: none;
    color:#fefff2
}
.menu_button a:hover{
    color:#9b9b9b
}
/*.slideshow-container {
    width:100%;
    margin: auto;
    overflow:hidden;
  }
  .mySlides {
    width: 100%;
    overflow:hidden;
    position: relative;
     display: none;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); /* you can change the value also */
   /*-webkit-transform-origin: center;
    transform-origin: center;
    }
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }*/
  
